#!/bin/bash

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# virtualenvwrapper
if [[ $VIRTUALENV_DISABLED ]];
then
  echo "Skipping VirtualEnv initialization"
else
  export WORKON_HOME=$HOME/.virtualenvs
  export PROJECT_HOME=$HOME/Projects
  # shellcheck disable=SC2034
  VIRTUALENVWRAPPER_PYTHON=/usr/bin/python3
  # shellcheck source=/dev/null
  source /usr/local/bin/virtualenvwrapper.sh
fi

# Cache for project build
export ExternalData_OBJECT_STORES=$HOME/Projects/.ExternalData
mkdir -p "$ExternalData_OBJECT_STORES"

# Qt5
export Qt5_DIR=/home/jcfr/Support/Qt/5.15.2/gcc_64/lib/cmake/Qt5

# Streamline Slicer extension build
export Slicer_R_DIR=/home/jcfr/Projects/Slicer-Release/Slicer-build
