[user]
  email = jchris.fillionr@kitware.com
  name = Jean-Christophe Fillion-Robin
  signingkey = 0x071F55F1FA11B4E3

[commit]
  gpgsign = true

[alias]

  # Clone a repository including all submodules
  c = clone --recursive

  # Switch to a branch, creating it if necessary
  go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

  # View abbreviated SHA, description, and history graph of the latest 20 commits
  l = log --pretty=oneline -n 20 --graph --abbrev-commit

  # Pretty log
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

  # View the current working tree status using the short format
  s = status -s

  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v

  # Enable or disabled signed commit
  enablesignedcommit = config commit.gpgsign true
  disablesignedcommit = config commit.gpgsign false

  # switch to personnal author
  enablepersonalemail = config user.email jean-christophe@fillion-robin.org
  enableworkemail = config user.email jchris.fillionr@kitware.com

  # git sed 's/old-method-name/new-method-name/ig'
  sed = ! git grep -z --full-name -l '.' | xargs -0 sed -i -e
  show-net-merge = !sh -c \"git cat-file -p HEAD | sed -e \\\"1,/^$/d\\\" | git commit-tree \\\"HEAD^{tree}\\\" -p \\\"HEAD^1\\\" | xargs gitk \\\"^HEAD\\\"\"

[diff]
  tool = meld

  # Detect copies as well as renames
  renames = copies

[color]
  ui = auto

[help]

  # Automatically correct and execute mistyped commands
  autocorrect = 1

[merge]

  # Include summaries of merged commits in newly created merge commit messages
  log = true
  tool = meld

# URL shorthands
#
# Use git and git+ssh instead of https
# Source: https://gist.github.com/stevenh512/2909546
#[url "git://github.com/"]
#  insteadOf = https://github.com/

[url "git@github.com:"]
  insteadOf = "git://github.com/"

[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"

[url "git@gitlab.kitware.com:"]
  pushInsteadOf = "https://gitlab.kitware.com/"

[credential]
  helper = cache

[credential "https://github.com"]
  user = jcfr

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  # required = true
  required = false # Disable to speed up GitHub push


[advice]
	detachedHead = false

[gui]
	encoding = utf-8
